body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: purple;
  border-radius: 0;
}



#display-date {
  text-align: center;
  border-radius: 15px;
  color: #FEC260;
}

.row {
  background-color: transparent;
  margin: 10px;
  white-space: pre-wrap;
  padding: 0px;

}

textarea {
  width: 100%;
  background-color: transparent;
  border: 0px;
  height: 100%;

  
}

#past {
  background-color: #d3d3d3;
  color: white;
}

#present {
  background-color: #ff6961;
  color: white;
}

#future {
  background-color: #77dd77;
  color: white;
}

.save-button {
  border-radius: 20px 20px;
  background-color: white;
  color: black;
  height: 40px;
  width: 100px;
  text-align: center;
}

.time {
  
  text-align: center;
  background-color: #A12568;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  text-shadow: 1px 1px 3px black;
  

}
.input-container {
  background-color: #FEC260;
  padding: 0px;
  margin: 0px;
  text-align: start;
}

#save-container {
  background-color: #3B185F;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container {
  padding: 0px;
}
